In [1]:
import pandas as pd
import numpy as np

In [2]:

df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [3]:

df2 = pd.DataFrame([[1, 2], [4, 5], [7, 8]])
df2

   0  1
0  1  2
1  4  5
2  7  8